@import '../../../node_modules/nav-frontend-core/less/_variabler';

.onboarding {
    margin: 0 0.5rem;
    flex: 1;

    &.onboarding_startkort {
        .onboarding-container {
            .onboarding-panel {
                height: 100%;
                // padding: 1rem 0.5rem;
                background-color: #0067c5;
                color: #fff;
                button.knapp {
                    padding: 1rem 0;
                    border-color: #fff;
                }
                button.knapp:hover {
                    border-color: #fff;
                }
                a.lenke {
                    color: #fff;
                }
            }
        }
    }
    .onboarding-container {
        // height: 100%;

        // background-color: #0000000d;

        display: flex;
        flex-direction: column;

        .typo-innholdstittel,
        .typo-systemtittel {
            font-weight: 400;
        }

        .onboarding-header {
            padding: 1rem;
        }
        .onboarding-panel {
            display: flex;
            flex-direction: column;
            flex: 1;
            background-color: white;
            border-radius: 8px;

            .onboarding-body {
                padding: 1rem;
                padding-bottom: 0.5rem;
            }

            .lesetid {
                display: flex;
                align-items: center;
            }

            .onboarding-footer {
                padding: 0.5rem 1rem 1rem 1rem;
                .rad {
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                }
                .kolonne {
                    display: flex;
                    flex-direction: column;
                    // justify-content: flex-start;
                }
            }
        }
    }
}

@media (min-width: @screen-md-min) {
    .onboarding {
        max-width: 50%;
        margin: 0;
        margin-left: 0.5rem;
        &:first-child {
            margin-left: 0;
        }
        .onboarding-panel {
            min-height: 270px;
        }
    }
}
