.onboarding_startkort .onboarding-container .onboarding-panel {
    background-color: var(--navds-global-color-blue-500);
    color: var(--navds-global-color-white);
}

.onboarding_startkort a.navds-link {
    color: var(--navds-global-color-white);
}
