.tema-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tema-container {
    flex: 1 1 100%;
}

@media (min-width: 648px) {
    .tema-container {
        flex: 1 1 0;
        padding-right: 1rem;
        max-width: 50%;
    }
    .tema-container:last-child:not(:only-child) {
        padding-right: 0;
    }
}

.onboarding_startkort .onboarding-container .onboarding-panel {
    background-color: var(--navds-global-color-blue-500);
    color: var(--navds-global-color-white);
}

.onboarding_startkort a.navds-link {
    color: var(--navds-global-color-white);
}
