@import '../../../node_modules/nav-frontend-core/less/_variabler';

.aktivitetsplan {

    .lenkepanel {
        border-radius: 8px;
        color: @navMorkGra;
    }

    &__innhold {
        padding: 0.5rem;
    }

    .informasjonsmodul__heading.blokk-s {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: @screen-sm-min) {
    .aktivitetsplan {

        &__innhold {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        &__ikon {
            margin-right: 1.5rem;
            font-size: 13px;
            font-weight: 400;
        }

        &__tekst {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
