@import '../../../node_modules/nav-frontend-core/less/_variabler';

.aktivitetsplan {

    .lenkepanel {
        border-radius: 8px;
        color: @navMorkGra;
    }
    &__innhold {
        padding: 1rem;
    }
    &__illustrasjon {
        display: none;
    }
    .informasjonsmodul__heading.blokk-s {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: @screen-sm-min) {
    .aktivitetsplan {

        &__innhold {
            min-width: 600px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        &__illustrasjon {
            display: flex;
            margin-right: 1.5rem;

            img{
                width: 6rem;
            }
        }
        &__tekst {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
