@import '../../../node_modules/nav-frontend-core/less/_variabler';

.aktivitetsplan {
    border-radius: 8px;
    padding-left: 0;
    color: @navMorkGra;
}

.lp-innhold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lp-ikon {
    width: 4rem;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

.lp-tekst {
    width: calc(100% - 4rem);
}
