@import '../../../node_modules/nav-frontend-core/less/_variabler';

.info-paneler-rad {
    display: flex;
    flex-direction: row;

    .info-panel {

        &--bilde-container {
            background-color: @navDypBlaLighten80;
            height: 5rem;
        }

        &--tekst-container {
            padding: 1rem;
        }

    }

}