.feedbackContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.feedbackContainer .feedbackTittel {
    margin-right: 0.5rem;
}

.feedbackSpace {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: var(--a-gray-300);
}

.feedbackKnapp {
    border: none;
    background: none;
    color: var(--a-blue-500);
    cursor: pointer;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 4.5rem;
    text-align: center;
}

.feedbackKnapp:hover {
    background: var(--a-blue-500);
    color: white;
}

.valgt {
    background-color: var(--a-blue-600);
    color: white;
}

.valg {
    margin-top: 0.5rem;
}

.feedbackUtdyping {
    padding: 1rem 1rem 0 1rem;
}

.feedbackGrunner {
    list-style: none;
    padding: 0 1rem 0 1rem;
}

.feedback-grunner > li > button {
    background: white;
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
}

.feedbackGrunner > li > button:hover {
    background: var(--a-blue-500);
    color: white;
    cursor: pointer;
}

@media (min-width: 768px) {
    .valg {
        margin-top: 0;
    }
}
