@import '../../../node_modules/nav-frontend-core/less/_variabler';

.fjorten-A-intro-omslutning {
  margin: 0;
  flex: 1;
  .panel {
    background: none;
    border-radius: 0;
    border: 0 solid @navGra20;
    border-bottom-width: 1px;
    height: 100%;
  }
}

.fjorten-A-intro {
  background: #c4c4c41a;
  background-color: #0000001a;
  padding: 0;
  margin-bottom: 0;

  .overall-wrapper{
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .kortwrapper {
    height: 100%;
  }

  .kortinnhold {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .kortflate {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .knapper {
    display: flex;
    background: white;
  }

  .fjorten-A-info {
    display: flex;
    justify-content: space-between;
    background: #c4c4c41a;
    border: 1px solid black;
    padding: .5rem;
    margin: .5rem 0 .5rem 0;
    align-items: center;
  }

  .fjorten-A-send-inn-kort {
    margin: 0 0 2rem 0;
    padding: .6rem 1rem;
  }

  .lesetid {
    display: flex;
    align-items: center;
  }

  .lenkepanel__ikon {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
  }

  .dialog__ulesteMeldinger {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 13px;
    line-height: 13px;
    background-color: #c30000;
    padding: 4px;
    border-radius: 100%;
    border: 1px solid white;
    color: white;
    font-weight: 400;
    width: 23px;
    text-align: center;
    animation: scaleIn 1s ease-in-out;
  }

  .dialog__ikon {
    position: relative;
  }
}

@media (prefers-reduced-motion) {
  .fjorten-A-intro {
    .dialog__ulesteMeldinger {
      animation: none;
    }
  }
}

@keyframes scaleIn {
  0%   { transform: scale(0); }
  75%  { transform: scale(1.3); }
  100% { transform: scale(1); }
}

@media (min-width: @screen-md-min) {
  .meldekort-intro-omslutning{
    max-width: 50%;
  }

  .fjorten-A-intro-omslutning {
    .panel {
      border-right: 1px solid @navGra20;
      border-bottom: 0;
      height: 100%;
    }
  }
}
