@import '../../../node_modules/nav-frontend-core/less/_variabler';

.meldekort-intro-omslutning {
  margin: 0;
  flex: 1;

  .panel {
    background: none;
    border-radius: 0;
    border: 0 solid @navGra20;
    height: 100%;
  }
}

.meldekort-intro {
  background: #c4c4c41a;
  background-color: #0000001a;
  padding: 0;
  margin-bottom: 0;

  .overall-wrapper{
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .kortwrapper {
    height: 100%;
  }

  .kortinnhold {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .kortflate {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .knapper {
    display: flex;
    background: white;
  }

  .meldekortinfo {
    display: flex;
    justify-content: space-between;
    background: #c4c4c41a;
    border: 1px solid black;
    padding: .5rem;
    margin: .5rem 0 .5rem 0;
    align-items: center;
  }

  .meldekort-send-inn-kort {
    margin: 0 0 2rem 0;
    padding: .6rem 1rem;
  }

  .lesetid {
    display: flex;
    align-items: center;

  }

}

@media (min-width: @screen-sm-min) {
  .meldekort-intro-omslutning{
    max-width: 50%;
  }
}
