.okonomi-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--bilde {
        margin: 0 auto;
        width: 110px;
        height: 110px;
    }

    &--tittel {
        text-align: center;
        max-width: 12rem;
        margin: 0 auto;
    }

    &--lenke {
        margin: 0 auto;
    }

}
