.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: auto;
  padding: 6px 10px;
  border-radius: 4px;
  background: var(--a-orange-200);
  color: var(--a-orange-900);
}

.tekst {
  font-size: 16px;
}
