@import '../../../node_modules/nav-frontend-core/less/_variabler';

.oppdatert-kort-omslutning {
    margin: 0.5rem 0;
    margin-left: 0.25rem;
    flex: 1;
    &:first-child {
        margin-left: 0;
    }
    .kort-heading {
        padding: 1rem;
    }
    .typo-innholdstittel,
    .typo-systemtittel {
        font-weight: 400;
    }
    .kort-panel {
        background: none;
        padding: 0;
        height: 100%;
        .kort-innhold {
            height: 100%;
            display: flex;
            flex-direction: column;
            .lesetid {
                display: flex;
                align-items: center;
            }
            // .kort-heading {
            //     padding: 1rem ;
            // }
            .kort-body {
                background-color: white;
                border-radius: 8px;
                padding: 1rem;
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}

.kort-omslutning {
    margin: 0.5rem 0.25rem;
    flex: 1;
    .kort-panel {
        background: none;
        border-radius: 0;
        height: 100%;
        padding: 0;
        .kort-innhold {
            background-color: #0000000d;
            height: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            .kort-body {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}

@media (min-width: @screen-md-min) {
    .kort-omslutning {
        max-width: 50%;
        .kort-panel {
            border-bottom: 0;
            height: 100%;
            border-bottom-width: 0;
        }
    }
}
