@import '../../../node_modules/nav-frontend-core/less/_variabler';

.fjorten-A-intro-omslutning-modal {
    margin: 0;
    flex: 1;
    .panel {
        background: none;
        border-radius: 0;
        border: 0 solid @navGra20;
        height: 60ch;
        width: 80vw;
    }
}

@media (min-width: @screen-md-min) {
    .fjorten-A-intro-omslutning-modal {
        margin: 0;
        flex: 1;
        .panel {
            background: none;
            border-radius: 0;
            border: 0 solid @navGra20;
            height: 48ch;
            width: 50ch;
        }
    }
}
