.mb2 {
    margin-bottom: 2rem !important;
}

.mt1 {
    margin-top: 1rem !important;
}

.mln2_4 {
    margin-left: -2.4rem !important;
}

.man125 {
    margin: -1rem!important;
}

@media (min-width: 768px) {
    .man125 {
        margin: -1.25rem!important;
    }
}

.nowrap {
    white-space: nowrap;
}
