.dittnav-fliser > .navds-link-panel {
    width: 100%;
}
@media (min-width: 768px) {
    .dittnav-fliser {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dittnav-fliser > .navds-link-panel {
        width: calc(50% - 0.5rem);
    }
}
