@import '../../../node_modules/nav-frontend-core/less/_variabler';

.onboarding {
    margin: 0.5rem 0;
    flex: 1;
    .onboarding-container {
        height: 100%;
        background-color: #0000000d;
        
        display: flex;
        flex-direction: column;

        .onboarding-header {
            padding: 1rem;
        }

        .onboarding-body {
            padding:  0.5rem 1rem;
            flex: 1;
        }

        .lesetid {
            display: flex;
            align-items: center;
        }

        .onboarding-footer {
            padding: 0.5rem 1rem;
            .rad {
                display: flex;
                flex-direction: row;
            }
            .kolonne {
                display: flex;
                flex-direction: column;
                // justify-content: flex-start;
            }
        }
    }
}

@media (min-width: @screen-md-min) {
    .onboarding {
        max-width: 50%;
        margin-left: 0.25rem;
        &:first-child {
            margin-left: 0;
        }
    }
}
