@import 'datovelger/datovelger';

.soketidspunkt-for-dagpenger {
  &__form {
    &-input {
      display: flex;
      justify-content: space-between;
    }
  }
}

.soketidspunkt-resultat {
  margin-top: 2rem;

  &__ikon {
    content: "";
    display: block;
    background: url("svg/person-komprimert.svg") no-repeat;
    float: left;
    position: relative;
    width: 3rem;
    height: 3rem;
    background-size: 3rem;
  }
}