.demodashboard {
    background-color: var(--a-green-300);
}

.demoHeading {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.demodashboardInnhold {
    background-color: var(--a-green-200);
    padding: 20px;
}

.demoFeaturetoggles {
    background-color: var(--a-green-100);
}

.demoCheckboxpanel {
    background-color: var(--a-green-200);
}
