.demodashboard {
    background-color: var(--navds-global-color-green-300);
}

.demo-heading {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.demodashboard-innhold {
    background-color: var(--navds-global-color-green-200);
    padding: 20px;
}

.demo-featuretoggles {
    background-color: var(--navds-global-color-green-100);
}

.demo-checkboxpanel {
    background-color: var(--navds-global-color-green-200);
}