@import '../../node_modules/nav-frontend-core/less/_variabler';
// TODO dra ut farger i egen variabelfil
.demodashboard {
    background-color: #cce1f3;
    padding: 2rem 1rem;
}

@media (min-width: @screen-sm-min) {
    .demodashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .skjemaelement {
            width: 11.5rem;
        }
    }
}
