.demodashboard {
    background-color: var(--navds-global-color-green-300);
    padding: 2rem 1rem;
}

.navds-checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.navds-checkbox {
    background-color: var(--navds-global-color-white);
    border: 1px var(--navds-global-color-black) solid;
    margin: 0.5rem;
    padding: 0.5rem;
}

.featuretoggles .inputPanelGruppe__inner {
    flex-wrap: nowrap;
    justify-content: center;
}

@media (min-width: 768px) {
    .demodashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .skjemaelement, .navds-form-field {
        width: 47%;
    }

    .inputPanelGruppe__inner {
        display: flex;
    }

    .inputPanel {
        margin: 0 0.5rem;
    }

    .two-select {
        display: flex;
        flex-wrap: wrap;
    }

    .skjemaelement, .navds-form-field {
        margin: 0 0.5rem 1rem;
    }
}

@media (min-width: 992px) {
    .demodashboard {
        flex-wrap: wrap;
    }

    .navds-checkboxes {
        flex-wrap: nowrap;
    }

    .two-select {
        flex-wrap: nowrap;
    }

    .skjemaelement {
        margin: 0 0.5rem 0;
    }
}
