@import '../../../../node_modules/nav-frontend-core/less/_variabler';

.info-paneler-rad {
    display: flex;
    flex-direction: row;

    .info-panel {

        &:nth-child(odd) {
            margin-right: 1rem;
        }

        &:nth-child(even) {
            margin-left: 1rem;
        }

        &--bilde-container {
            background-color: @navDypBlaLighten80;
            height: 5rem;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &--tekst-container {
            padding: 2rem;
            background-color: white;
            border: 1px solid @navGra20;
            border-top-width: 0;
        }

    }

}