.meldekort {
    display: flex;
    border: 2px solid @navDypBlaLighten80;
    border-radius: 8px;
    margin-top: 2rem;
    padding: 2rem;

    &__bilde {
        display: none;
    }

    &__lenke {
        margin-top: 1rem;
        text-align: center;
    }
}

@media (min-width: @screen-sm-min) {
    .meldekort {
        &__bilde {
            display: block;
        }

        &__lenke {
            margin: 0;
            text-align: left;
        }

        &__innhold {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 4rem;
            height: 114px;
        }

        &__beskrivelse {
            margin-top: 1rem;
        }
    }
}