@import '../../../node_modules/nav-frontend-core/less/_variabler';

.reaktivering-melding {
    .knapp {
        white-space: normal;
    }

    .lenke {
        color: #0067c5 !important;
        background: none;
        text-decoration: underline;
        cursor: pointer;
    }

    .alert {
        border: 1px solid #d87f0a !important;
        background-color: #ffe9cc;
        align-content: center;
    }

    .alert.false {
        border: 1px solid #78706a !important;
        background-color: white;
        transition: background-color 2s;
    }
}
