.meldekortvarsel-container {

  background: white;
  border-top: 1px solid #5690a2;
  padding: 1rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  .knapp {
    margin: 1rem 0 1rem 0;
  }

  .konsekvenser {
    margin: 0;
  }

  .strenger-varsel {
    margin-top: .5rem;
  }

  .viktig_beskjed{
    margin-bottom: .5rem;
  }

}

