@import '../../../node_modules/nav-frontend-core/less/_variabler';

.dagpenger {
    text-align: center;

    &__tekst {
        max-width: 24rem;
        margin: 0 auto
    }
}

.dagpenger-ramme {
    width: 100%;
    border-color: #78706A;
    margin-bottom: 12px; 
}

.tiltakinfo + .dagpenger {
    margin-top: 4rem;
}

@media (min-width: @screen-sm-min) {
    .dagpenger-ramme {
        width: 50%;
    }
}