@import '../../../node_modules/nav-frontend-core/less/_variabler';

.dagpenger {
    margin: 2rem 0 1rem 0;
    padding: 2rem;

    &__tekst {
        max-width: 24rem;
    }
}

@media (min-width: @screen-sm-min) {
}
