@import '../../../node_modules/nav-frontend-core/less/_variabler';

.mr {
  margin-right: 2rem;
}

.ramme {
  width: 100%;
  border-color: @navGra60;
}

.blokk-xs {
  margin-bottom: 12px;
}

h2 {
  color: #3E3832;
}