.innholdslasterFeilmelding {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
.innholdslasterLaster {
    width: 100%;
    max-width: 37rem;
    margin: 0 auto;
    margin-top: 1.25rem;
}

@media (min-width: 37rem) {
    .innholdslasterLaster {
        margin: 0 auto;
        margin-top: 1rem;
    }
}
