@import '../../../node_modules/nav-frontend-core/less/_variabler';

.dialog {
    margin: 1rem 0 0 0;

    .lenkepanel {
        padding: 1.5rem;
        border-radius: 8px;
    }

    &__innhold {
        display: flex;
        flex-direction: row;
    }

    &__ikon {
        display: inline-block;
        margin-right: 1.5rem;
    }

    &__tittel {
        display: inline-block;
    }
}
