@import '../../../node_modules/nav-frontend-core/less/_variabler';

.dialog {
    margin: 1rem 0 0 0;

    .lenkepanel {
        border-radius: 8px;
    }

    &__innhold {
        margin-top: -0.25rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
    }

    &__tittel {
        display: inline-block;
        margin: 0.3rem 0 0 0.7rem;
    }
}
