
.dagpenger-status-omslutning {

  margin: 0.5rem 0.25rem;
  flex: 1;
  background-color: #0000000d;


}

.innhold {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: start;
}

.gul-uthevingslinje {
  border-left: 3px #FFA733 solid;
  padding-left: 4px ;
}