.dagpenger-status-omslutning {
    margin: 0.5rem 0.25rem;
    flex: 1;
    background-color: #0000000d;

    .innhold {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: start;
    }

    .gul-uthevingslinje {
        border-left: 3px #ffa733 solid;
        padding-left: 4px;
    }

    .til-soknad-dagpenger-status {
        margin: 0 0 2rem 0;
        padding: 0.5rem 0.5rem 0.5rem 0rem;
    }

    .viktig-aa-vite {
        display: inline-block;
        padding: 0.35rem 0.6rem 0.3rem;
        color: white;
        background: #ef9637;
        border-radius: 4px;
        margin-bottom: 0.7rem;
    }
}
