@import '../node_modules/@navikt/ds-css';

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.appContainer {
    height: 100%;
}

.pagewrapper {
    min-height: 100%;
    height: auto;
    margin-bottom: -200px;
    padding-bottom: 200px;
}

.hodefot-footer {
    width: 100%;
    bottom: 0;
}

.my-1 {
    margin-top: -1rem;
}

.mr-05 {
    margin-right: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.paxs {
    padding: 1rem;
}

.blokk-xs {
    margin-bottom: 1rem;
}

.blokk-s {
    margin-bottom: 20px;
}

.blokk-m {
    margin-bottom: 2rem;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.tall-sirkel-aktiv {
    box-sizing: unset;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 0;    

    background: #0067C5;
    border: 2px solid #0067C5;
    color: #fff;
    text-align: center;
    margin-right: 0.5rem;
    font-size: 18px;
    line-height: 1.50;
}

.tall-sirkel-inaktiv {
    box-sizing: unset;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 0;    

    background: #fff;
    border: 2px solid #707070;
    color: #707070;
    text-align: center;
    margin-right: 0.5rem;
    font-size: 18px;
    line-height: 1.50;
}

.tall-sirkel {
    box-sizing: unset;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 0;    

    background: #fff;
    border: 2px solid #0067C5;
    color: #0067C5;
    text-align: center;
    margin-right: 0.5rem;
    font-size: 18px;
    line-height: 1.50;
}

.tall-sirkel-inverted {
    box-sizing: unset;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 0;    

    background: #fff;
    border: 2px solid #fff;
    color: #0067C5;
    text-align: center;
    margin-right: 0.5rem;
    font-size: 18px;
    line-height: 1.50;
}

.fotnotepanel {
    background-color: transparent;
    background: transparent;
}

.inaktiv {
    color: #707070;
}