@import '../node_modules/@navikt/ds-css';

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.appContainer {
    height: 100%;
}

.pagewrapper {
    min-height: 100%;
    height: auto;
    margin-bottom: -200px;
    padding-bottom: 200px;
}

.hodefot-footer {
    width: 100%;
    bottom: 0;
}

.my-1 {
    margin-top: -1rem;
}

.mr-05 {
    margin-right: 0.5rem;
}

.ml-05 {
    margin-left: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.paxs {
    padding: 1rem;
}

.px-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-1_5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.blokk-xs {
    margin-bottom: 1rem;
}

.blokk-s {
    margin-bottom: 20px;
}

.blokk-m {
    margin-bottom: 2rem;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.fotnotepanel {
    background-color: transparent;
    background: transparent;
}

.inaktiv {
    color: #707070;
}

.ikke-standard-liste {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

@media (min-width: 768px) {
    .lenkepanel-standard {
        max-width: 400px;
    }
}
.lenkepanel-standard {
    width: 100%;
}

.full-width {
    width: 100%;
}
