@nodeModulesPath: './../../';
@coreModulePath: './../../';

@import '../node_modules/nav-frontend-core/less/core';

@tablet-width: 728px;
@desktop-width: 768px;

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.appContainer {
    height: 100%;
}

.pagewrapper {
    min-height: 100%;
    height: auto;
    margin-bottom: -200px;
    padding-bottom: 200px;
}

.hodefot-footer {
    width: 100%;
    bottom: 0;
}
