@nodeModulesPath: './../../';
@coreModulePath: './../../';

@import '../node_modules/nav-frontend-core/less/core';

@tablet-width: 760px;
@desktop-width: 958px;

.appContainer {
    height: 100%;
}

.pagewrapper {
    min-height: 100%;
    height: auto;
    margin-bottom: -200px;
    padding-bottom: 200px;
}

.hodefot-footer {
    width: 100%;
    bottom: 0;
}

.mr-05 {
    margin-right: .5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.tracking-wide {
    letter-spacing: 0.05em;
}
