.mr05 {
    margin-right: 0.5rem!important;
}
.mr2 {
    margin-right: 2em!important;
}
.ml05 {
    margin-left: 0.5rem!important;
}
.mb05 {
    margin-bottom: 0.5rem!important;
}

.mb1 {
    margin-bottom: 1rem!important;
}

.mb2 {
    margin-bottom: 2rem!important;
}

.mbn {
    margin-bottom: 0!important;
}

.ml1 {
    margin-left: 1rem!important;
}

.ml1_75 {
    margin-left: 1.75rem!important;
}

.ml2_39 {
    margin-left: 2.39rem!important;
}

.mt1 {
    margin-top: 1rem!important;
}

.mtn1_5 {
    margin-top: -1.5rem!important;
}

.mt2 {
    margin-top: 2rem!important;
}

.pa1 {
    padding: 1rem!important;;
}

.px1_5 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}
.px0_5 {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
}
.pb2 {
    padding-bottom: 2rem!important;
}

.blokkXs {
    margin-bottom: 1rem!important;
}

.blokkS {
    margin-bottom: 20px!important;
}

.blokkM {
    margin-bottom: 2rem!important;
}

.fullWidth {
    width: 100%;
}

.fitContent {
    width: fit-content;
}
