@import "@navikt/ds-tokens";

.rad {
    width: 100%;
    padding: 1rem 0;
}

.limit {
    margin: 0;
    padding: 0;
}

.limitCenter {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 37rem;
}

.limitStandard {
    width: 100%;
    max-width: 37rem;
    margin: 0;
    padding: 1.25rem;
}

.skeletonLoader {
    width: 100%;
    max-width: 37rem;
}

.card {
    border-radius: var(--a-border-radius-large);
    background-color: var(--a-surface-default);
    box-shadow: var(--a-shadow-xsmall);
    margin: 0;
}

.header {
    color: #262626;
    width: 100%;
    max-width: 37rem;
    margin: 0;
}

@media (min-width: 37rem) {
    .limit {
        margin: 0 auto;
    }
    .limitCenter {
        margin: 0 auto;
    }
    .limitStandard {
        margin: 0 auto;
        padding: 1rem;
    }
}
