@nodeModulesPath: './../../';
@coreModulePath: './../../';

@import '../node_modules/nav-frontend-core/less/core';
@import '../node_modules/nav-frontend-grid-style/src/index';
@import '../node_modules/nav-frontend-typografi-style/src/index';
@import '../node_modules/nav-frontend-chevron-style/src/index';
@import '../node_modules/nav-frontend-paneler-style/src/index';
@import '../node_modules/nav-frontend-lenkepanel-style/src/index';
@import '../node_modules/nav-frontend-alertstriper-style/src/index';
@import '../node_modules/nav-frontend-lenker-style/src/lenker-style';
@import '../node_modules/nav-frontend-spinner-style/src/spinner-style';
@import '../node_modules/nav-frontend-modal-style/src/index';
@import '../node_modules/nav-frontend-chevron-style/src/index';
@import '../node_modules/nav-frontend-lukknapp-style/src/lukknapp-style';

@import './komponenter/oppgaver/oppgave';
@import './komponenter/lenkeboks/lenkeboks';
@import './komponenter/tjenester/tjenester';
@import './komponenter/krr/reservert-krr';


body {
    background-color: @navLysGra;
}

.body__wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.innholdslaster {
    text-align: center;
}


.overskrift-veientilarbeid__wrapper {
    padding-top: 3rem;
    text-align: center;
    height: 10rem;
    border-bottom: 2px solid @navBla;
    background: @navLysBla url("./svg/dataskjerm.svg") no-repeat;
    background-position: 20% 100%;
}

.kom-i-gang__wrapper {
    padding-top:1rem;

    .overskrift-kom-i-gang {
        text-align: center;
    }
}

.overskrift-komigang__panel {
    .beskrivelse-komigang {
        width: 50%;
        margin-left: auto;
        margin-right:auto;
    }
}

.overskrift-kom-i-gang, .overskrift-oppgaver, .overskrift-tjenester {
    &::after {
        border-bottom: 3px solid;
        display: block;
        content: '';
        margin-top: 1rem;
        width: 2rem;
        margin-left: auto;
        margin-right: auto;
        color: @navGronn;
    }
}

.appContainer {
    height: 100%;
}

.pagewrapper {
    min-height: 100%;
    height: auto;
    margin-bottom: -200px;
    padding-bottom: 200px;
}

.hodefot-footer {
    width: 100%;
    bottom: 0;
}
