@nodeModulesPath: './../../';
@coreModulePath: './../../';

@import '../node_modules/nav-frontend-core/less/core';
@import '../node_modules/nav-frontend-grid-style/src/index';
@import '../node_modules/nav-frontend-typografi-style/src/index';


.oppgaver__wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.tjenester__wrapper {
    text-align: center;
}

.overskrift-veientilarbeid__wrapper {
    text-align: center;
}
.overskrift-komigang__wrapper {
    width: 70%;
    text-align: center;
    margin: auto;
    .beskrivelse-komigang {
        width: 50%;
        margin: auto;
    }
}