@nodeModulesPath: './../../';
@coreModulePath: './../../';

@import '../node_modules/nav-frontend-core/less/core';
@import '../node_modules/nav-frontend-grid-style/src/index';
@import '../node_modules/nav-frontend-typografi-style/src/index';
@import '../node_modules/nav-frontend-chevron-style/src/index';
@import '../node_modules/nav-frontend-paneler-style/src/index';
@import '../node_modules/nav-frontend-lenkepanel-style/src/index';
@import '../node_modules/nav-frontend-alertstriper-style/src/index';
@import '../node_modules/nav-frontend-lenker-style/src/lenker-style';
@import '../node_modules/nav-frontend-spinner-style/src/spinner-style';
@import '../node_modules/nav-frontend-modal-style/src/index';
@import '../node_modules/nav-frontend-chevron-style/src/index';
@import '../node_modules/nav-frontend-lukknapp-style/src/lukknapp-style';

@import './komponenter/brodsmuler/brodsmuler';
@import './komponenter/komigang/kom-i-gang';
@import './komponenter/lenkeboks/lenkeboks';
@import './komponenter/cv/cv';
@import './komponenter/informasjon/informasjon';
@import './komponenter/overskrift/overskrift';
@import './komponenter/arbeidssoker/arbeidssoker';
@import './komponenter/innholdslaster/innholdslaster';
@import './komponenter/feilmeldinger/feilmelding';

body {
    background-color: @white;
}


.appContainer {
    height: 100%;
}

.pagewrapper {
    min-height: 100%;
    height: auto;
    margin-bottom: -200px;
    padding-bottom: 200px;
}

.hodefot-footer {
    width: 100%;
    bottom: 0;
}